.banner-container{
    display: flex;
    width: 100%;
    height:400px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    border: 4px solid whitesmoke;
    border-radius: 10px;
}
.banner-container img{
    width:100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    animation: img-animation 25s infinite;
    animation-timing-function: ease-out;
    transform: scale(1.05) translateY(-100%); 
}

.banner-container img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .banner-container img:nth-child(2) {
    animation-delay: 5s;
  }
  
  .banner-container img:nth-child(3) {
    animation-delay: 10s;
  }
  
  .banner-container img:nth-child(4) {
    animation-delay: 15s;
  }
  
  .banner-container img:nth-child(5) {
    animation-delay: 20s;
  }
  
  @keyframes img-animation {
    0% { 
        opacity: 0; 
        transform: scale(1.05) translateY(-100%); /* Start above the banner */
    }
    4% { 
        opacity: 1; 
        transform: scale(1) translateY(0); /* Move into the banner */
    }
    20% { 
        opacity: 1; 
        transform: scale(1) translateY(0); /* Stay in place */
    }
    24% { 
        opacity: 0; 
        transform: scale(1.05) translateY(100%); /* Move below the banner */
    }
    25% { 
        opacity: 0; 
        transform: scale(1.05) translateY(-100%); /* Reset to above the banner */
    }
    100% { 
        opacity: 0; 
        transform: scale(1.05) translateY(-100%); /* Stay above the banner */
    }
}
/* Responsive for tab and mobile screen */

/* Tablet view */
@media (max-width: 768px) {
    .banner-container {
      height: 300px;
    }
  
    .banner-container img {
      height: 100%;
    }
  }
  
  /* Mobile view */
  
  @media (max-width: 480px) {
    .banner-container {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: url('../assets/mobimg1.jpg') center/cover; /* Set background image */
    }
  
    .banner-container img {
      display: none; /* Hide all images by default */
    }
  
  }
  
  @media (max-width: 375px){
    .banner-container {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: url('../assets/mobimg1.jpg') center/cover; /* Set background image */
    }
    .banner-container img {
      display: none; /* Hide all images by default */
    }
  }
  
  @media (max-width: 320px){
    .banner-container {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: url('../assets/mobimg1.jpg') center/cover; /* Set background image */
    }
   
    .banner-container img {
      display: none; /* Hide all images by default */
    }
  }