body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .topproduct {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .heading {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px; /* Ensure consistent space between sections */
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .category {
    color: #777;
    margin-bottom: 10px;
  }
  
  .price {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #777;
  }
  
  .add-to-cart12 {
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart12:hover {
    background-color:#cc0000;
  }
  
  
  
  /* Tablets (portrait and landscape) */
  @media(max-width:1440px){
    .add-to-cart12{
      font-size: 18px;
    }
  }
  
    @media (max-width: 1024px) {
      .products {
        grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
      }
    
      .product-card {
        padding: 15px;
      }
    
      h3 {
        font-size: 1.1em;
      }
    
      .add-to-cart12 {
        padding: 8px 16px;
      }
    }
  
    .product-card {
      padding: 15px;
    }
  
    h3 {
      font-size: 1.1em;
    }
  
    .add-to-cart12 {
      padding: 8px 16px;
    }
  
  
  /* Mobile devices */
  @media (max-width: 768px) {
    .topproduct {
      width: 95%;
    }
  
    .products {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  
    .product-card {
      padding: 10px;
    }
  
    h3 {
      font-size: 1em;
    }
  
    .add-to-cart12 {
      padding: 6px 12px;
    }
  }
  @media(max-width:425px){
    .add-to-cart12{
      font-size: 14px;
    }
  }